* {
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
}

header {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 99;
  height: 3.5rem;
  background-color: #43281c;
}

.logo {
  width: 2rem;
  height: 2rem;
  margin-right: 5px;
}

.title {
  font-size: 1.3rem;
  color: #fbf2c0;
}

.subtitle {
  text-transform: uppercase;
  color: #8d4e33;
  font-size: 1em;
  font-weight: lighter;
  padding: 10px 0 5px 15px;
}

.container {
  display: grid;
  background-color: rgb(194, 183, 171);
  padding: 5rem 2rem;
  margin-top: 50px;
  grid-template-columns: 50% 50%;
  grid-template-rows: 10fr 4fr;
  grid-template-areas: 
  "items client"
  "confirm confirm";
}

.items {
  grid-area: items;
}

.name-pay-column {
  grid-area: client;
}

.submit {
  grid-area: confirm;
}

.items, .name-and-pay {
  background-color: #e4dbcf;
  width: 90%;
  box-shadow: 2px 2px 30px #5a584f;
}

.bolded {
  font-weight: bold;
}

.order-details {
  color: #8d4e33;
  font-size: 0.8rem;
  padding: 0;
  margin: 5px 0 10px 0;
}

.items {
  display: grid;
  padding: 5px;
  height: 400px;
  grid-template-areas: 
    "head head head"
    "one name price"
    "one name price"
    "one name price";
    grid-template-columns: 1fr 10fr 3fr;
}

.items > h2 {
  grid-area: head;
}

.items > quantity {
  grid-area: one;
}

.items > sumup {
  grid-area: name;
}

.items > price {
  grid-area: price;
}

/* #8d4e33 */

.quantity, .price {
  text-align: center;
}

.right {
  text-align: right;
}

.order-summary {
  border-top: 2px solid #DDB892;
  margin-bottom: 0;
}

legend {
  color: #8d4e33;
}

.input {
  border-radius: 30px;
  width: 30%;
}

.name-and-pay {
  height: 200px;
}

.left {
  text-align: left;
}

.center {
  text-align: center;
}

.button {
  border-radius: 30px;
  background-color: #43281c;
  color: #e4dbcf;
  font-size: 1rem;
}